nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  background-color: #eee;
}

nav ul li a:hover {
  background-color: #ccc;
}

.banner {
  width: 100%;
  text-align: center;
}

.banner img {
  height: auto;
  max-width: 100%;
}

.whitney-image {
  width: 200px; /* Adjust the width as per your preference */
  height: auto;
  display: block;
  margin: 0 auto;
  float: left;
  margin-right: 10px;
}

