header {
  position: relative;
}

  .banner {
  position: relative;
  margin: -70px;
}

.banner img {
  height: auto;
  max-width: 100%;
}

.header-text {
  position: absolute;
  top: 2%;
  left: 30%; 
  /* transform: translate(-50%, -50%); */
  text-align: center;  
}

.header-line1 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-shadow: 3px 3px 5px #FFFFFF, -3px -3px 5px #FFFFFF;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
}

.header-line2 {
  font-size: 24px;
  color: #000;
  text-shadow: 3px 3px 5px #FFFFFF, -3px -3px 5px #FFFFFF;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px; /* Adjust the font size as per your preference */
  padding: 70px;
}

body2 {
  font-family: Arial, sans-serif;
  font-size: 18px; /* Adjust the font size as per your preference */
  padding: 100px;
}

nav {
  margin-top: 90px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  background-color: #eee;
}

nav ul li a:hover {
  background-color: #ccc;
}

.whitney-image {
  /* width: 300px;  Adjust the width as per your preference */
  height: auto;
  margin: 0 auto;
  margin-right: 10px;
}

figure {
  float: left;
}

figcaption {
  caption-side: below;
    /* width: 300px; */
}

figcap1 {
  caption-side: below;
    width: 500px;
}

.longterm-image {
  width: 500px; /* Adjust the width as per your preference */
  height: auto;
  margin: 0 auto;
  margin-right: 10px;
}

.assumptions-image {
  width: 600px; /* Adjust the width as per your preference */
  height: auto;
  margin: 0 auto;
}

.lowhigh-image {
  width: 500px; /* Adjust the width as per your preference */
  height: auto;
  margin: 0 auto;
}

